<html>
  <head>
    <title>Teste - getters e setters em javascript</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
    <script>
      function MyCtrl($scope){
      
        var _p=1;
        $scope.pagination = {
          get page(){
            return _p;
          },
          set page(p){
            if(p >= 1 && p <= 20){
              _p = p;
            }
          }
        };
        
        $scope.prev = function(){
          $scope.pagination.page--;
        };
        
        $scope.next = function(){
          $scope.pagination.page++;
        };
      }
    </script>
  </head>
  <body ng-app ng-controller="MyCtrl">
    <p>Olha que locura, digita isso num console javascript...</p>
    <textarea style="width:500px; height: 200px;">
      o = {a:1};  //nada de mais
      o = {a:1, get x(){return this.a++;}}; //cuma???
      o.x
      o.x
      o.x
      o.a; //eeeeita porraaaaaaa!
      
      //só eu que não sabia disso??
    </textarea>
    
    <p>Um uso interessante pra isso: um widget de paginação com AngularJS.</p>
    <div>
      <button ng-click="prev()">&lt;</button>
      <input type="text" ng-model="pagination.page" style="width:20px">
      <button ng-click="next()">&gt;</button>
    </div>
    <p>Veja como fica simples a implementação do prev() / next() (nao é necessário testar os casos limite).</p>
    <p> Além disso, note que o input: 
    <br> a) só permite digitar numeros; e 
    <br> b) não deixa o cara digitar nada que nao seja um numero entre [1-20].</p>
    <p>Nao foi necessario escrever nenhum tipo de codigo de validacao pra isso. Massa né :-)</p>
    
  </body>
</html>
