<html>
  <head>
    <title>Teste - getters e setters em javascript</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script>
    	angular.module('app', []).controller('MyCtrl', function($scope){
	        $scope.joao = {nome: 'Joao da Silva', idade: 33};
	        $scope.jose = {nome: 'Jose de Camargo', idade: 50};
	    });
    </script>
  </head>
  <body ng-app="app" ng-controller="MyCtrl">
	<div ng-include="'detalhes_pessoa.html'" ng-repeat="pessoa in [joao]"></div>
	<div ng-include="'detalhes_pessoa.html'" ng-repeat="pessoa in [jose]"></div>
	<div ng-include="'detalhes_pessoa.html'" ng-init="pessoa = joao"></div>
	<div ng-include="'detalhes_pessoa.html'" ng-init="pessoa = jose"></div>
  </body>
</html>
